/* Reset default browser margin & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Main layout container */
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: lightpink;
  display: flex;
  align-items: stretch;
}

/* Sidebar Section */
.sidebar {
  width: 30%;
  background-color: deeppink;
  padding-bottom: 30px;
  
} 


/* Profile image styling */
.profile-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: block;
  margin: 30px auto 20px auto;
  border: 2px solid lightpink;
}

/* Sidebar menu list */
.sidebar-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 60px;
}

.sidebar-menu li {
  padding: 10px 0;
  border-bottom: 1px solid #ffc0cb;
  color: beige;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-menu li a{
  color: beige;
}

.sidebar-menu li a:hover {
  color: pink;
}

/* Content section */
.content {
  width: 70%;
  background-color: white;
  padding: 25px;
  overflow-y: auto; /* experience bahir nahi jayega */
}

/* Name heading */
.content h1 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.content h1 .first-name {
  color: lightpink;
}

.content h1 .last-name {
  color: deeppink;
}

/* General paragraphs */
.content p {
  margin-top: 10px;
  color: #444;
}

/* Summary */
.summary {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}

/* Social links layout */
.links {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 99px;
}

/* Social link styling */
.links a {
  text-decoration: none;
  color: #444;
  font-size: 20px;
}

.links a:hover {
  color: #0077B5;
}

/* Icon size */
.links i {
  font-size: 40px;
}

/* Tab-content default visibility */
.tab-content {
  display: block; /* Experience visible rahe */
}

/* EXPERIENCE styling */
#experience h2,
#experience h3,
#experience p {
  margin-top: 15px;
  color: #333;
}

/* Experience headings */
#experience h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: deeppink;
}

#experience h3 {
  font-size: 20px;
  color: lightpink;
}

/*Education Styling*/
#education h2{
  margin-top: 99px;
  font-size: 26px;
  color: deeppink;
  margin-bottom: 30px;
}

#education h3{
  margin-bottom: 10px;
  color: lightpink;
  
font-size: 20px;
}

#education h4{
  margin-bottom: 10px;
  color: dimgray;
}

#education h5{
  font-size: 16px;
}
#education p {
  margin-bottom: 40px;
  color: deeppink;
  font-size: 17px;
  
}


/* Skills Styling */
#skills {
  margin-top: 99px;
}

#skills h2 {
  color: deeppink;
  margin-bottom: 45px;
  font-size: 26px;
}

#skills h3{
  color: lightpink;
  margin-bottom: 35px;
  font-size: 23px;
}
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.skill-icons i {
  font-size: 33px;
  color: #444;
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.skill-icons i:hover {
  color: #fff;
  background-color: deeppink;
  transform: scale(1.1);
}

h4 {
  color: deeppink;
  margin-top: 40px;
  margin-bottom: 22px;
  font-size: 20px;
}
.workflow-points {
  list-style: none; 
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 100px;
}

.workflow-points li {
  font-size: 15px;
  color: #555;
  margin-bottom: 8px;
  line-height: 1.5;
}

/*Interest Styling*/
#interest h2{
  color: deeppink;
  margin-bottom: 40px ;
}

#interest p{
  color: dimgray;
  font-size: 16px;
}

/* Awards Section */

#awards h2{
  margin-top: 99px;
  color: deeppink;
  font-size: 26px;
  margin-bottom: 50px;
}

.awards-list li {
  margin-bottom: 12px;
  font-size: 16px;
  color: dimgray;
  line-height: 1.3;
  display: flex;
  align-items: center;
  
}

.award-icon {
  height: 28px;
  width: 25px;
  margin-right: 10px;
}